
h1,h2,h3,h4,h5,h6{
    text-align: center;
    text-decoration-line: underline;color:rgb(55, 52, 52);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: hwb(0 81% 18%);
    color:rgb(68, 72, 67);
}
img{
    border-style: solid;color: rgb(89, 118, 181);
    display: block;
    margin:auto;   
}
#question1 button{
    background-color: rgb(251, 252, 255);
}
#question1{
text-align: center;
}

footer{
    position: fixed;
    bottom:5rem;
}